<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gnet.app.customerTrack.CustomerTrackMapper" >
    <resultMap id="BaseCustomerTrackMapper" type="com.gnet.app.customerTrack.CustomerTrack" >
        <id column="id" property="id" jdbcType="CHAR" />
        <result column="create_date" property="createDate" />
        <result column="modify_date" property="modifyDate" />
        <result column="customer_id" property="customerId" jdbcType="CHAR"/>
        <result column="customer_responsible_id" property="customerResponsibleId" jdbcType="CHAR"/>
        <result column="customerResponsibleName" property="customerResponsibleName" jdbcType="VARCHAR"/>
        <result column="time" property="time" />
        <result column="way" property="way" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="next_track_time" property="nextTrackTime" />
        <result column="attachment_root" property="attachmentRoot" jdbcType="VARCHAR"/>
    </resultMap>
    
    <select id="findLatestTrack" resultMap="BaseCustomerTrackMapper">
    select * from ykj_customer_track where customer_id = #{customerId} order by time desc limit 0,1
    </select>
    
    <select id="selectAllByCustomerId" resultMap="BaseCustomerTrackMapper">
    select yct.*, yc.name customerResponsibleName from ykj_customer_track yct
    left join ykj_clerk yc on yc.id = yct.customer_responsible_id
    where yct.customer_id = #{customerId} and yc.is_del = 0 order by yct.time desc
    </select>
   
    <select id="findByCustomerTrackId" resultMap="BaseCustomerTrackMapper">
    select yct.*, yc.name customerResponsibleName from ykj_customer_track yct
    left join ykj_clerk yc on yc.id = yct.customer_responsible_id
    where yct.id = #{customerTrackId} and yc.is_del = 0
    </select> 
         
</mapper>