<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gnet.app.office.OfficeMapper" >
    <resultMap id="BaseOfficeMap" type="com.gnet.app.office.Office" >
        <id column="id" property="id" jdbcType="CHAR" />
        <result column="create_date" property="createDate" />
        <result column="modify_date" property="modifyDate" />
        <result column="parentid" property="parentid" jdbcType="CHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="level" property="level" jdbcType="INTEGER" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="is_del" property="isDel" jdbcType="BIT" />
        <result column="description" property="description" jdbcType="VARCHAR" />
    </resultMap>
    
    <insert id="insertOffice">
    insert into ykj_office (id, create_date, modify_date, parentid, name, level, type, is_del) values
    (#{id}, #{createDate}, #{modifyDate}, #{parentId}, #{name}, #{level}, #{type}, #{isDel})
    </insert>
    
    <select id="findById" resultMap="BaseOfficeMap">
    select * from ykj_office where id = #{id} and is_del = 0;
    </select>
    
    <select id="existRelation" resultType="INTEGER">
    select count(1) from ykj_office where parentid = #{id} and is_del = 0;
    </select>
    
    <update id="deleteById">
    update ykj_office set modify_date = #{date}, is_del = 1 where id = #{id} 
    </update>
    
</mapper>