<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gnet.app.storageGoodStatus.StorageGoodStatusMapper" >
    <resultMap id="BaseStorageGoodStatusMap" type="com.gnet.app.storageGoodStatus.StorageGoodStatus" >
        <id column="id" property="id" jdbcType="CHAR" />
		<result column="store_now" property="storeNow" jdbcType="BIGINT"/>
		<result column="create_date" property="createDate" />
		<result column="modify_date" property="modifyDate" />
    </resultMap>
    
</mapper>